<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="JCHo.com.cc2541.temperaturetag">

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="JCHo.com.cc2541.temperaturetag.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="JCHo.com.cc2541.temperaturetag.MainActivity"
            android:label="藍牙溫度計"
            android:theme="@style/NoActionBar" /> />
        <activity
            android:name="JCHo.com.cc2541.temperaturetag.ScanActivity"
            android:label="綁定您的藍牙裝置"
            android:theme="@style/AppTheme" />
        <activity
            android:name="JCHo.com.cc2541.temperaturetag.HistoryActivity"
            android:label="歷史訊息"
            android:theme="@style/AppTheme" /> />
        <service
            android:name="JCHo.com.cc2541.temperaturetag.service.BluetoothService"
            android:enabled="true"
            android:exported="true" />

    </application>

</manifest>